* {
	margin: 0;
	padding: 0;

}

body {
	
}

#ptitle {
	float: right;
}

.content1 {
  
  	background-color: darkgrey;
}
.content1.active {
  
  	background-color: yellow;
}

.sprite {
	background-image: url("img/neu.png");
}